<center>
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
	    <li><a href="/about/">ABOUT</a></li>
            <li><a href="/publication/">PUBLICATION</a></li>
            <li><a href="/software/">SOFTWARE</a></li>
            <li><a href="/archives/">ARCHIVE</a></li>
            <li><a href="/tags/">TAGS</a></li>
            

            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
	    <li></li>
		<br>
	    <li style="padding-top: 14px;"><a href="https://www.linkedin.com/in/kamran-afzali/" style=" margin: 4px; vertical-align: bottom;"> <i class="fa fa-inverse fa-linkedin-square fa-3x"></i></a>
	    <a href="https://github.com/Kamran-Afzali" style=" margin: 4px; vertical-align: bottom;"> <i class="fa fa-inverse fa-github fa-3x"></i></a>
    	    <a href="https://twitter.com/Afzali_K" style=" margin: 4px; vertical-align: bottom;"> <i class="fa fa-inverse fa-twitter fa-3x"></i></a>&nbsp

	    <a href="https://scholar.google.ca/citations?user=OQZG-vEAAAAJ&hl=en"> <img src="/images/header/g.png" style="
    height: 44px; margin-top=-35px;"/></a>&nbsp&nbsp
	    <a href="https://publons.com/researcher/1179117/kamran-afzali/peer-review/">  <img src="/images/header/p3.png" style="
    height: 41px; margin-top=-35px;"/></a>
		    
		    
		     
</li>
	    </ul>
	    
            
	    </nav>
</center>
